<!DOCTYPE html>
{% extends 'rango/base.html' %}

{% block title_block %}
{% if category %}
    {{ category.name }}
{% else %}
    Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        <p>{{ category.views }} views | {{ category.likes }} likes</p>

        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

        <p><a href="{% url 'rango:add_page' category.slug %}">Add a New Page</a></p> 

    {% else %}
        <p>The specified category does not exist.</p>
    {% endif %}
</div>
{% endblock %}
